* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body{
    font-family: 'MetricHPE', Arial, Helvetica, sans-serif;
    color: #444;
}

strong{
    color: #444;
}

.color{
    background-color: #f6f6f6;
    width: 100%;
}

.main{
    width: 1200px;
    margin: 0 auto;
}

.header{
    max-width: 200px;
    min-height: 35px;
    margin: 15px;
    border-right: 1px solid #000;
    padding-right: 20px;
}

.header img{
    max-width: 100%;
    height: auto;
}

.container{
    display: flex;
    justify-content: space-between;   
}

.col1{
    width: 50%; 
    padding: 0px 15px;
}

.col1 img{
    width: 558px;
    height: auto;
}

.col1-content{
    padding: 10px 0px 35px;
}

.col1-content h2{
    font-size: 36px;
    font-weight: 400;
    margin: 15px 0px;
}

.col1-content h3{
    font-size: 26px;
    font-weight: 400;
    margin: 15px 0px;
}

.col1-content p{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    margin: 15px 0px;
    
}

.col1-content ul{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    padding-left: 15px;
}

.agenda-table{
    width: 100%;
    
}

.agenda-table tr{
    background: #efefef;
}

.agenda-table td{
    padding: 8px 10px;
    vertical-align: top;
}

.agenda-table td:first-of-type {
    width: 35%;
}

.col2{
    width: 50%;
    padding: 0px 35px;
}

.col2 h1{
    margin-top: 42px;
    font-size: 54px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 20px;
}

.form{
    color: #6f6f6f;
    font-weight: 500;
}

.input label{
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 500;
}

.input input, select{
    margin-bottom: 15px;
    width: 100%;
    height: 34px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #C3C5C8;
}

.checkboxes{
    display: flex;
    align-items: center;
}

.checkbox-wrapper {
    margin: 10px 10px 10px 0px;
}

.checkbox-wrapper input{
    margin-right: 5px;
}

.form-button{
    display: flex;
    justify-content: center;
}


.form-button button{
    color: #fff;
    padding: 0.45em 1.25em;
    font-size: 19px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    border-radius: 10em;
    background: linear-gradient(60deg,#01A982 0 13%,#1cd3a8 20%,#01A982 27%,#01A982);
    background-position: 99% 50%;
    background-size: 200% 200%;
    transition: background-position .5s;
    border: none;
    cursor: pointer;
}

.form-privacy p{
    margin-top: 30px;
    font-weight: 300;
}
.form-privacy a{
    text-decoration: none;
    color: #1cd3a8;
}

.footer{
    background-color: #f6f6f6;
    padding: 25px 0px;
    margin-top: 30px;
}

.footer-content{
    width: 50%;
    margin: 0 auto;
}

.footer-img img{
    width: 130px;
}

.footer-a{
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-a a{
    text-decoration: none;
    color: #444;
    padding-right: 10px;
}

.logo{
    width:1162px;
    margin: 0 auto;
}

@media screen and (max-width:500px){
    .main{
        margin: 0 auto;
        width: 100%;
    }

    .col1 img{
        width: 100%;
    }

    .col1{
        width: 100%;
    }

    .col2{
        width: 100%;
    }

    .container{
        flex-direction: column;
    }
    
    .col2 h1{
        font-size: 37px;
        margin-top: 15px;
    }

    .footer-a{
        flex-direction: column;
    }

    .copy{
        margin-top: 15px;
    }

    .logo{
        width: 100%;
    margin: 0 auto;
    text-align: center;
    }

    .cobrand{
        width: 100% !important;
        margin: 0 auto !important;
    }
}

.rectangulo{
    width: 62px;
    height: 18px;
    border: 4px solid #fff;
    background: #01A982;
    margin-left: 12px;
}

#cta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cobrand{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.error{
    color: red;
    font-size: 13px;
    padding: 0%;
    margin: 0%;
}
